{% extends 'base.html' %}

{% block title %} home {% endblock %}

{% block head_extra %} 

{% endblock %}

{% block header %} Doorman Home. {% endblock %}


{% block content %}

	{% load tz %}
	{% localtime %}
	It's {{ time|localtime }}
	{% endlocaltime %}


	<h3> Users</h3>
	<table border=1>
		{% for profile in profiles %}
		<tr>
			<td>
				<b>{{profile.user.username}}</b>
			</td>
			<td>
				{% if profile.isPresent %} 
					Home
				{% else %}
					Away (since {{profile.recentCheckin.time}})
				{% endif %}

			</td>
		</tr>
		{% endfor %}

	</table>
	<h3>CheckIns</h3>

	<table border=1>
		{% for checkin in checkins %}
			<tr>
				<td>
					{{ checkin.user.username }}
				</td>	
				<td>
					{{ checkin.time }}
				</td>
				<td>
					{{ checkin.tag.tag }}
				</td>
			</tr>	
		{% endfor %}
	</table>	
	<div id="chart_div"></div>

{% endblock %}